@font-face {
	font-family: 'gpls-plugins-vegan-font';
	font-style: italic;
	font-weight: bolder;
	font-display: auto;
	src: url( '../fonts/vegan.ttf' ) format( 'truetype' );
}
@font-face {
	font-family: 'gpls-plugins-lato-italic-bold';
	font-style: italic;
	font-weight: bolder;
	font-display: auto;
	src: url( '../fonts/Lato-BoldItalic.ttf' ) format( 'truetype' );
}
@font-face {
	font-family: 'gpls-plugins-lato-regular';
	font-style: italic;
	font-weight: bolder;
	font-display: auto;
	src: url( '../fonts/Lato-Regular.ttf' ) format( 'truetype' );
}

.mfp-wrap {
	z-index: 100001;
}

.gpls-plugins-pro-features {

	h1, h2, h3, h4, h5, h6 {
		font-family: "gpls-plugins-lato-italic-bold";
	}
	span {
		font-family: "gpls-plugins-lato-regular";
	}

	.hover-zoom-in {
		cursor: -moz-zoom-in;
		cursor: -webkit-zoom-in;
		cursor: zoom-in;
	}

	.pro-feature-img {
		padding: 0;
		border: 0;
	}

	ul {

		list-style: none !important;

		li {
			margin-bottom: 15px;

			&:before {
				font-family: "Font Awesome 5 Free";
				content: "\f14a";
				color: #3c78ff;
				display: inline-block;
				padding-right: 10px;
				vertical-align: middle;
				font-weight: 900;
			}
		}
	}
}
